@import "vendor";

.container {
    margin-top: 10%;
}

.form__city--input {
    font-size: 2em!important;
}

.img__no-results {
    display: block;
    margin: 0 auto;
}

.form__city--btn {
    opacity: 0;
    transition: 0.5s;
    visibility: hidden;
}

.form__city--btn--active {
    opacity: 1;
    visibility: visible;
}
